html, body { /* eliminar los bordes por defecto del body */
    margin: 0%;
    padding: 0%;
    position: relative;
}

.fondo-main {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.79);
    background-image: url("../img/srmain.jpg");
    background-repeat: no-repeat;
    background-size: 102%;
    background-position-x: 50%;
    background-attachment: fixed;
    z-index: -5;      
}

.active { /* Pagina Activa*/
    background-color: rgba(0, 0, 0, 0.2);
}

.right-pos {
    display: inline;
    float: right;
    position: relative;
}

.left-pos{
    display: inline;
    float: left;
    font-size: 20px;
}

.inline-pos {
    display: inline;
    text-align: center;
}

nav ul {
    clear: both; /*cerrar los float anteriores */
    list-style-type: none;  /*Remueve los bullets*/
    margin: 0;              /*Set el margen en 0*/
    padding: 0;
    width: 100%;
    background-color: rgba(99, 99, 99, 0.2);
    position: fixed;        /*mantiene el nav bar visible*/
    z-index: 5;
    /*overflow: hidden;*/

}

nav a {
    margin: 0;
    padding: 0;
    font-family: 'Anonymous Pro', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 8px;
    background-color: rgba(99, 99, 99, 0.4);
}

.sbdisco {
    border:0;
    padding: 0;
    width: 160px;
    top: 32px;
    text-align: center;
    background-color: rgba(99, 99, 99, 0.2);
    position: absolute;
    display:none;

}

nav ul li:hover .sbdisco{
    display:block;
    background-color: rgba(0, 0, 0, 0.5);

}

nav ul li a:hover{
    color: gold;
    font-family: 'Special Elite', cursive;
    font-weight: bold; /* Letra en negrita o robusta */
    background-color:rgba(0, 0, 0, 0.00);
}

section #Integrantes {
    width: 100%;
    height: auto;
    min-height: 200px;
    display: block;
}

.Intgr {
    margin: 1%;
    padding: 2%;
    width: 27%;
    height: auto;
    color: white;
    text-align: center;
    display: inline-block;
    vertical-align: top;  
    background-color: rgba(99, 99, 99, 0.78);
}

.ImgIntgr {
    margin-bottom: 5px;
}

.banner {
    width: 100%;
    height: 40px;
    padding: 0;
    margin: 0;
    text-align: center;
    color: white;
    line-height: 40px;
    font-family: 'Special Elite', cursive;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}
.discs {
    list-style: none; /*remueve bullets*/
    margin: 2px;
    padding: 0;
    width: 100%;
    text-align: center;
}
.discs li{
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 50px;
    position: relative; /*posicion relativa para q el absoluto sepa a quien asociarse*/
    border-radius: 60px;
    overflow: hidden;
    transition: all ease 1s;
    z-index: 1;
}

.discs li:hover {
    transform: scale(1.10) rotate(-45deg);
    z-index: 2;
}


.discs li img {
    width:100%;
    display: block;
}

.discs li .album{
    background-color: rgba(0,0,0,0.75);
    width: 200px;
    height: 200px;
    color:white;
    position: absolute;
    top:0;
    line-height: 200px;
    font-family: 'Major Mono Display', monospace;
    font-size: 13px;
    transform: translate(-28px,-35px) rotate(45deg);
    display: none; /*oculto*/
}

.discs li:hover .album{
    transform: scale(1.19) rotate(45deg);
    border-radius: 120px;
    display: block; /*pasa el mouse y abracadabra*/
}


footer {
    margin: 0;
    padding: 0;
    height: 220px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

footer ul {
    padding: 8px;
    margin: 10px;
    padding: 0;
    text-align: center;
    overflow: hidden;

}

footer ul li a{
    font-family: 'Anonymous Pro',cursive;
    font-size: 18px;
    display: inline-block;
    color:whitesmoke;
    /*background: radial-gradient(closest-side at 10% 50%, grey,black);*/
    height: auto;
    background-color: rgba(99, 99, 99, 0.4);
    text-decoration: solid;

}

.main-text {
    background-color: rgba(0, 0, 0, 0.5);
    display: inline;
    padding: 5px;
    color: white;
    font: 15px arial, sans serif;
    font-style: normal;
}

.main-span{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    color: white;
    font: 15px arial, sans serif;
    line-height: 30px;                      /* Interlineado */
}

.noborder {
    margin: 0;
    padding: 0;
}



